body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}

.ant-table-tbody{
  padding: 0.2rem !important;
}
.ant-table-tbody > tr > td{
  padding: 0.1rem 0.2rem !important;
}
/* Combinando las reglas duplicadas para .ant-table-tbody > tr > th */
.ant-table-tbody > tr > th {
  padding: 0.1rem 0.2rem !important; /* Padding */
  border-radius: 0 !important; /* Border radius */
}



.ant-table-tbody > tr >td:nth-child(2), .ant-table-tbody > tr >td:nth-child(2), .ant-table-tbody > tr >td:nth-child(2), .ant-table-tbody > tr >td:nth-child(1), .ant-table-tbody > tr >td:nth-child(2),.ant-table-tbody > tr >td:nth-child(3) {
  background-color:#F9F9F9 !important;
} 
/* .ant-table-tbody > tr >td:nth-child(3),.ant-table-tbody > tr >td:nth-child(6),.ant-table-tbody > tr >td:nth-child(9),.ant-table-tbody > tr >td:nth-child(12), .ant-table-tbody > tr >td:nth-child(15)   {
  border-right: 2px solid rgb(0, 0, 0)! important;
} 
*/

.ant-table-tbody > tr >td:nth-child(3),.ant-table-tbody > tr >td:nth-child(5),.ant-table-tbody > tr >td:nth-child(7),.ant-table-tbody > tr >td:nth-child(9),.ant-table-tbody > tr >td:nth-child(11){
  border-right: 2px solid black !important;
}

.ant-table-thead > tr> th{
  background-color: rgb(239, 239, 239) !important;
}
.ant-table-thead > tr:first-child > th:first-child, .ant-table-thead > tr:first-child  > th:nth-child(2),.ant-table-thead > tr:first-child  > th:nth-child(3),.ant-table-thead > tr:first-child  > th:nth-child(4),.ant-table-thead > tr:first-child  > th:nth-child(5)  {
  padding: 0.2rem !important;
  background-color: rgb(231, 96, 51) !important;
  color: white !important;
}


.ant-table-thead > tr> th {
  padding: 0 !important;
  border-right: 2px solid black !important;
  border-radius: 0px !important;

}

.ant-input-number{
  text-align: right !important;
  padding-right:1.5rem !important;
   border-radius: 0px !important;
   border:0 !important;
}

.ant-input-number{
  border-radius: 0px !important;
  padding:0 !important;
  border:0 !important;
  border-color: gray !important;
}

.ant-input-number-affix-wrapper, .ant-input-affix-wrapper{
  border-radius: 0px !important;
  padding:0 !important;
  border:0 !important;
}

 
.ant-layout{
  background-color:rgb(255, 255, 255) !important;
  padding: 0px !important;
  min-height: 100vh !important;
}
.ant-layout-content {padding: 0px !important}
.ant-input-outlined{
  border-color:  black !important;
}

.ant-select-selector {border-color: gray !important;}
.ant-input {border-color: gray !important;}

.ant-breadcrumb{
  margin: 0px !important;
  padding:0px !important;
}